@import "@/lib/colors.sass"

.slider
  &__band
    display: flex
    gap: 28px
    & article
      flex-shrink: 0
  &__controllers
    margin-top: 24px
    display: flex
    gap: 12px
    align-items: center
    font-size: 22px
    font-weight: 700
    & span
      color: $color500
  &__controller
    width: 44px
    height: 44px
    border: 1px solid $color500
    border-radius: 12px
    background-color: transparent
    cursor: pointer
    &:disabled
      color: $color500
  &__disabled
    position: relative
    &::before
      content: ""
      display: block
      width: 100%
      height: 100%
      background-color: rgba(0, 0, 0, 0.3)
      position: absolute
      z-index: 1
      border-radius: 12px
  @media (hover: none) and ( pointer: coarse )
    &__band
      gap: 12px
    &__controllers
      margin-top: 16px
    &__counter
      margin: auto
    &__controller
      display: none
