@import "../lib/colors.sass"

html
  height: 100%

body
  background-color: $color800
  font-family: var(--font-inter)
  margin: 0
  font-size: 18px
  height: 100%

*
  color: white
  box-sizing: border-box
  user-select: none

ul
  padding: 0
  margin: 0

li
  list-style-type: none

a
  text-decoration: none

p
  margin: 0

h1,h2,h3,h4,h5,h6
  margin: 0

.wrapper
  min-height: 100%
  display: flex
  flex-direction: column

.container
  width: 1268px
  margin: auto
  @media ( max-width:  1300px)
    width: 1000px
  @media ( max-width:  1050px)
    width: 800px
  @media ( max-width:  850px)
    width: 90%

main
  flex: 1 1 auto
