@import "@/lib/colors.sass"
@import "@/lib/normalize.sass"

html
  height: 100%

body
  background-color: $color800
  font-family: var(--font-inter)
  margin: 0
  font-size: 18px
  height: 100%
  overflow-x: hidden

*
  color: white
  box-sizing: border-box
  user-select: none

.wrapper
  min-height: 100%
  display: flex
  flex-direction: column

.container
  width: 1268px
  margin: auto
  @media ( max-width:  1300px)
    width: 1000px
  @media ( max-width:  1050px)
    width: 800px
  @media ( max-width:  850px)
    width: 90%

main
  flex: 1 1 auto
