@import "@/lib/colors.sass"

.home
  &__title
    font-size: 44px
    font-weight: 700
    text-align: center
  &__products
    margin-top: 100px
  &__more
    margin-top: 32px
    text-align: center
  &__contact
    margin-top: 8px
    text-align: center
    font-weight: 500
    & a
      color: $primary1
      text-decoration: underline
      text-underline-offset: 2px
  @media( max-width: 1300px )
    &__title
      font-size: 36px
  @media( max-width: 1050px )
    &__title
      font-size: 30px
    &__products
      margin-top: 50px
  @media( max-width: 600px )
    &__title
      font-size: 24px
      margin-top: 10px
    &__products
      margin-top: 30px
