@import "@/lib/colors.sass"

.no-subscriptions
  &__no-active
    padding: 150px 0
    display: flex
    flex-direction: column
    align-items: center
  &__circle
    width: 96px
    height: 96px
    border-radius: 100%
    background-color: $color600
    display: flex
    justify-content: center
    align-items: center
    font-size: 26px
  &__message
    margin-top: 24px
    font-size: 28px
    font-weight: 700
    text-align: center
  &__offer
    margin-top: 8px
    margin-bottom: 32px
    font-size: 18px
    font-weight: 400
    line-height: 30px
    text-align: center
