
@import "@/lib/colors.sass"

.settings-layout
  margin-top: 32px
  &__tabs
    margin-top: 48px
    padding-bottom: 12px
    border-bottom: 2px solid $color600
  &__link
    padding: 0 24px 12px
    font-weight: 700
    color: $color600
  &_active
    color: $primary1
    border-bottom: 2px solid $primary1

.settings-page
  &__title
    margin-top: 48px
  &__wrapper
    width: 512px
