@import "@/lib/colors.sass"

.input
  position: relative
  &__input
    width: 100%
    height: 68px
    padding: 25px
    border: 1px solid $color300
    border-radius: 6px
    background: $color100
    box-shadow: 0px 2px 12px 0px rgba(20, 20, 43, 0.059)
    caret-color: $primary1
    color: $color600
    font-family: var(--font-thicccboi)
    font-size: 18px
  &:disabled
    background-color: $color300
  &__icon
    display: none
    position: absolute
    right: 25px
    top: 50%
    transform: translateY(-50%)
    font-size: 26px
  &_success
    & .input__input
      border-color: $green300
    & .input__icon-done
      display: block
      & path
        stroke: $green300
  &_error
    & .input__input
      border-color: $red300
    & .input__icon-close
      display: block
      & path
        stroke: $red300
  @media (max-width: 800px)
    &__input
      height: 60px
      padding: 20px
      font-size: 16px
  @media (max-width: 600px)
    &__input
      height: 50px
      padding: 15px
