.log-in
  margin-top: 64px
  &__title
    font-size: 44px
    font-style: normal
    font-weight: 700
  &__form
    margin-top: 32px
    & input
      margin-bottom: 24px
  &__submit
    margin-top: 24px
