@import "@/lib/colors.sass"

.nav
  display: flex
  gap: 32px
  position: relative
  &__user
    cursor: pointer
  &__chevron
    margin-left: 12px
  &__dropdown
    position: absolute
    right: 0
    top: 52px
