@import "@/lib/colors.sass"

.cheque
  width: 100%
  border-radius: 12px
  background-color: $color700
  &__point
    font-size: 24px
    font-weight: 700
    height: 115px
    width: 100%
    padding: 0 72px 0 32px
    display: flex
    justify-content: space-between
    align-items: center
  &__price
    font-weight: 400
    border-top: 1px solid $color500
