@import "@/lib/colors.sass"

.subscription-card
  width: 620px
  border-radius: 12px
  background-color: $color600
  font-family: var(--font-thicccboi)
  position: relative
  &__header
    padding: 48px 64px 32px 32px
    display: flex
    justify-content: space-between
    font-weight: 700
    font-size: 22px
  &__divider
    width: 100%
    height: 1px
    background-color: $color400
  &__content
    padding: 32px 64px 48px 32px
  &__subscription
    display: flex
    justify-content: space-between
    font-size: 24px
    font-weight: 500
  &__date
    margin-top: 12px
    font-size: 16px
    font-weight: 500
    color: $color500
  &__button
    margin-top: 32px
  &__disabled
    width: 100%
    height: 100%
    border-radius: 12px
    background-color: rgba(0, 0, 0, 0.3)
    position: absolute
    top: 0
    left: 0
